.idea/
.ivy2/
.sbt/
.bloop/
result/
out/
logback.xml
.DS_Store
target/
*.iml
atlassian-ide-plugin.xml
MANIFEST.MF
*/dependency-reduced-pom.xml
webconsole.*
scalastyle-output.xml
db.conf
*.deb
*.log
# Eclipse ignores

.project
.classpath
.metadata
.settings/
.cache-main
.cache-tests

node_modules/
scripts/ssl/*.p12
scripts/ssl/*.jks
scripts/ssl/*.crt
scripts/ssl/*.csr
scripts/ssl/*.key
*.sc